.justify-text {
    text-align: justify;
} 

p {
  text-align: justify;
}

/* Remove o nome do site do topo do menu lateral */
/* .md-nav__title {
    display: none !important;
} */



/* Fundo Monokai clássico para blocos de código */
.md-typeset pre code {
  background-color: #f1f1f1 !important; /* fundo escuro monokai */
  color: #000000; /* cor padrão do texto */
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 15px;
  padding: 1em;
  display: block;
  overflow-x: auto;
}

.md-typeset .highlighttable .linenodiv pre {
  font-size: inherit !important;
  line-height: 1.53
}

/* Força o botão de copiar aparecer no canto superior direito */
.md-clipboard {
    display: block !important;
    opacity: 1 !important;
    right: 0.5em;
    top: 0.5em;
    background: #f1f1f1;
    color: #c3c3c3;
    border-radius: 2px;
    padding: 4px 6px;
}

/* Inline code (``` dentro de frases) */
.md-typeset code {
  background-color: #f3f3f3 !important;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

/* Destaque de linhas em blocos de código */
.md-typeset .highlight .hll {
  background-color: #fffad2 !important; /* fundo levemente mais claro no monokai */
  display: block;
  width: 100%;
}


/* Regras de sintaxe (Monokai) */
.highlight .nt { color: #df1c4d; } /* nome da tag */
.highlight .na { color: #0040ff; }/* atributo */ 
.highlight .s  { color: #0b8585; } /* valor do atributo */
.highlight .c  { color: #0b8585; font-style: italic; } /* comentários */
.highlight .m  { color: #000000; } /* números */
.highlight .k  { color: #F92672; } /* palavras-chave */
.highlight .o  { color: #F92672; } /* operadores */



<style>
  table.commands {
      border-collapse: collapse; /* linhas contínuas */
      width: 100%;
      font-family: Arial, sans-serif;
  }
  table.commands td {
      border: 1px solid #dadada; /* bordas verticais e horizontais */
      padding: 6px;
      text-align: left;
      font-size: 0.95em;
  }
  table.commands th {
      padding: 8px;
      background-color: #e4f4ff; /* cabeçalho com cor de fundo */
      text-align: center;
      font-size: 0.95em;
      /*border-bottom: 1px solid #999;*/
  }

  /* table.commands tr:nth-child(odd) {
      background-color: #eeeeee; /* linhas alternadas */
  /* } */

</style>